<h1>Jonathan Moody</h1>
<h3>Ruby on Rails & Javascript Web Developer For Hire</h3>

<h4>About</h4>

<ul>
  <li><%= link_to("GitHub", "https://github.com/jdmoody") %></li>
  <li><%= link_to("LinkedIn", "https://www.linkedin.com/pub/jonathan-moody/76/973/189") %></li>
  <li><%= link_to("Tumblr", "http://metamoody.tumblr.com/") %></li>
</ul>

<h4>Projects</h4>
<ul>
  <li><%= link_to("MoZi", "http://www.jdmozi.com") %></li>
  <li><%= link_to("Meowsteroids", "http://meowsteroids.herokuapp.com")%></li>
  <li><%= link_to("HactiveRecord", "https://github.com/jdmoody/HactiveRecord")%></li>
</ul>